<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
<div id="container">
    <div id="spot">
        <div class="img-box sub04">
            <div class="tit-box">
                <h2>데이터 분양</h2>
            </div>
        </div>
        <div id="snb">
            <ul class="nav">
                <li>
                    <a th:href="@{/datasales/sub01}">분양 절차 안내 및 신청</a>
                </li>
                <li class="active">
                    <a th:href="@{/datasales/sub02}">분양 자료 항목 및 검색</a>
                </li>
                <li>
                    <a th:href="@{/datasales/sub03}">분양 현황</a>
                </li>
                <li>
                    <a th:href="@{/datasales/sub04}">연구성과</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="con">
            <div class="sub-tit">
                <h3>분양 자료 항목 및 검색</h3>
                <ul id="navigater">
                    <li class="home"></li>
                    <li>데이터 분양</li>
                    <li class="m-now">분양 자료 항목 및 검색</li>
                </ul>
            </div>

            <form id="metadataFrm" name="metadataFrm" method="post">
                <input type="hidden" id="sid" name="sid" />
                <input type="hidden" id="gubun" name="gubun"/>
                <input type="hidden" id="itemSeqList" name="itemSeqList" th:value="${param.itemSeqList}"/>
            <div class="con-area">
                <strong class="s-tit">분양신청</strong>
                <div class="check-search">
                    <ul class="write-form">
                        <li>
                            <strong class="tit">연구과제명</strong>
                            <div class="input-con">
                                <input id="studynm" name="studynm" type="text" class="intxt" />
                            </div>
                        </li>
                        <li>
                            <strong class="tit">소속</strong>
                            <div class="input-con">
                                <input id="sosuk" name="sosuk" type="text" class="intxt" />
                            </div>
                        </li>
                        <li>
                            <strong class="tit">책임연구자</strong>
                            <div class="input-con">
                                <input id="readuser" name="readuser" type="text" class="intxt" />
                            </div>
                        </li>
                        <li>
                            <strong class="tit">공동저자</strong>
                            <div class="input-con">
                                <input id="partuser" name="partuser" type="text" class="intxt" />
                            </div>
                        </li>
                        <li>
                            <strong class="tit">데이터사용기간</strong>
                            <div class="input-con">
                                시작일 : <input id="sdt" name="sdt" type="date" class="date-intxt" />
                                종료일 : <input id="edt" name="edt" type="date" class="date-intxt" />
                            </div>
                        </li>
                        <li>
                            <strong class="tit">요청목적</strong>
                            <div class="input-con">
                                <input id="purpose" name="purpose" type="text" class="intxt" />
                            </div>
                        </li>
                        <li>
                            <strong class="tit">요청내용</strong>
                            <div class="input-con">
                                <input id="cont" name="cont" type="text" class="intxt" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="table-wrap">
                    <table class="table-01" id="dataGride" name="dataGride">
                        <tbody></tbody>
                    </table>
                </div>
                <div style="width: 100%">
                    <div id="paging" class="paging" style="margin: 30px 0px 0px 0px;float:left;width:500px;text-align:left;" >
                    </div>
                    <div class="from-btn tmar_20" style="float:right;width:200px">
                        <a href="javascript:goRegist()" class="apply-btn">신청</a>
                    </div>
                </div>
            </div>
            </form>

        </div>
    </div>
</div>
    <script th:src="@{/js/bethesda/board.js}" type="text/javascript"></script>
    <script lang="javascript">
        $(document).ready(function () {
            goDataList();
        });

        function goDataList() {
            let strHtml = "";
            let param = $("form[name=metadataFrm]").serialize();
            $.ajax({
                url: '[[@{/metadataApi/studyMetaDataList}]]',
                type: 'post',
                data: param,
                success: function (data) {
                    $("#dataGride tbody").empty();
                    $("#totalCount").empty();
                    //console.log(data.totalCnt);
                    strHtml = '<tr><th>도메인</th><th>변수명</th><th>항목명</th><th>데이터유형</th><th>데이터타입</th><th>코드 설명</th><th>길이</th><th>단위</th></tr>';
                    if (data.dataList.length > 0 ) {
                        $.each(data.dataList, function (key) {
                            strHtml += '<tr>';
                            strHtml += '<td>' + data.dataList[key].m_domain + '</td>';
                            strHtml += '<td>' + data.dataList[key].m_item_name + '</td>';
                            strHtml += '<td>' + data.dataList[key].m_item_label + '</td>';
                            strHtml += '<td>' + data.dataList[key].m_data_type + '</td>';
                            strHtml += '<td>' + data.dataList[key].m_input_type + '</td>';
                            strHtml += '<td>' + data.dataList[key].m_item_codelist + '</td>';
                            strHtml += '<td>' + data.dataList[key].m_item_length + '</td>';
                            strHtml += '<td>' + data.dataList[key].m_measurement_unit + '</td>';
                            strHtml += '</tr>';
                        });
                    }
                    else {
                        strHtml += '<tr><td colspan="9">선택 데이터가 없습니다.</td></tr>';
                    }
                    $("#dataGride tbody").html(strHtml);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        function goRegist() {
            //validation 처리...

            $("#sid").val($("#gubun").val() + getToday());
            $("#itemSeqList").val($("#itemSeqList").val().replace("[", "").replace("]", ""));
            let param = $("form[name=metadataFrm]").serialize();
            $.ajax({
                url: '[[@{/studyAcApi/datasaleInsert}]]',
                type: 'post',
                data: param,
                success: function (data) {
                    console.log(data.resultCode);
                    alert(data.resultMsg);
                    // 신청 후 처리 ......
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
   </script>

</th:block>
</body>
</html>