<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
<script th:src="@{/js/ckeditor/ckeditor.js}" type="text/javascript"></script>
<div id="container">
    <div id="spot">
        <div class="img-box sub04">
            <div class="tit-box">
                <h2>데이터 분양</h2>
            </div>
        </div>
        <div id="snb">
            <ul class="nav">
                <li>
                    <a th:href="@{/datasales/sub01}">분양 절차 안내 및 신청</a>
                </li>
                <li>
                    <a th:href="@{/datasales/sub02}">분양 자료 항목 및 검색</a>
                </li>
                <li>
                    <a th:href="@{/datasales/sub03}">분양 현황</a>
                </li>
                <li class="active">
                    <a th:href="@{/datasales/sub04}">연구성과</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="con">
            <div class="sub-tit">
                <h3>연구성과</h3>
                <ul id="navigater">
                    <li class="home"></li>
                    <li>데이터 분양</li>
                    <li class="m-now">연구성과</li>
                </ul>
            </div>
            <form id="metadataFrm" name="metadataFrm" method="post">
                <input type="hidden" id="pageNum" name="pageNum" th:value="${param.pageNum}"/>
                <input type="hidden" id="pageSize" name="pageSize" th:value="${param.pageSize}"/>
                <input type="hidden" id="sSubject" name="sSubject" th:value="${param.sSubject}"/>
                <input type="hidden" id="bId" name="bId" th:value="${param.bId}"/>
            <div class="con-area">
                <div class="board-form">
                    <ul class="write-form">
                       <li>
                            <strong class="tit">제목</strong>
                            <div class="input-con">
                                <input type="text" class="intxt" id="subject" name="subject" />
                            </div>
                        </li>
                        <li>
                            <strong class="tit">등급</strong>
                            <div class="input-con">
                                <input id="gubun" name="gubun" type="text" class="intxt" />
                            </div>
                        </li>
                        <li>
                            <strong class="tit">출처(?)</strong>
                            <div class="input-con">
                                <input id="summary" name="summary" type="text" class="intxt" />
                            </div>
                        </li>
                    </ul>
                    <div class="editor-wrap">
                        <textarea class="form-control" id="cont" name="cont"></textarea>
                        <script type="text/javascript">
                            CKEDITOR.replace('cont' , {
                                height: 520
                            });
                        </script>
                    </div>
                    <div class="board-btn">
                        <input type="button" class="bod-btn" id="registBtn" value="저장" onclick="goRegist();">
                        <input type="button" class="bod-btn" id="modifyBtn" value="수정" onclick="goModify();">
                        <input type="button" class="bod-btn" id="deleteBtn" value="삭제" onclick="goDelete();">
                        <input type="button" class="bod-btn" id="listBtn"   value="목록" onclick="goList();">
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/bethesda/board.js}" type="text/javascript"></script>
<script th:src="@{/js/custom.js}" type="text/javascript"></script>
<script lang="javascript">
    const dbKey = "001";
    $(document).ready(function () {
        if ( $("#bId").val() != "" ) {
            goDataView();
            $("#registBtn").hide();
            $("#modifyBtn").show();
            $("#deleteBtn").show();
        }
        else {
            $("#registBtn").show();
            $("#modifyBtn").hide();
            $("#deleteBtn").hide();

            $("#bId").val(dbKey + getToday());
        }
    });

    function goDataView() {
        let param = $("form[name=metadataFrm]").serialize();
        $.ajax({
            url: '[[@{/studyAcApi/dataView}]]',
            type: 'post',
            data: param,
            success: function (data) {
                console.log(data.dataView);
                if (data.dataView == null || data.dataView == "" ) {
                    alert("잘못된 접근 입니다.");
                    goList();
                }
                else {
                    $("#subject").val(data.dataView.subject);
                    $("#cont").val(data.dataView.cont);
                    $("#gubun").val(data.dataView.gubun);
                    $("#summary").val(data.dataView.summary);
                    //$("#regDt").val(data.dataView.regDt);
                    //$("#hit").html(data.dataView.hit);
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function goRegist() {
        let content = CKEDITOR.instances['cont'].getData();
        $("#cont").val(content);

        let param = $("form[name=metadataFrm]").serialize();
        $.ajax({
            url: '[[@{/studyAcApi/dataInsert}]]',
            type: 'post',
            data: param,
            success: function (data) {
                console.log(data.resultCode);
                alert(data.resultMsg);

                $("#registBtn").hide();
                $("#hitTitle").show();
                $("#modifyBtn").show();
                $("#deleteBtn").show();
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function goModify() {
        let content = CKEDITOR.instances['cont'].getData();
        $("#cont").val(content);

        let param = $("form[name=metadataFrm]").serialize();
        $.ajax({
            url: '[[@{/studyAcApi/dataUpdate}]]',
            type: 'post',
            data: param,
            success: function (data) {
                console.log(data.resultCode);
                alert(data.resultMsg);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function goDelete() {
        let param = $("form[name=metadataFrm]").serialize();
        $.ajax({
            url: '[[@{/studyAcApi/dataDelete}]]',
            type: 'post',
            data: param,
            success: function (data) {
                console.log(data.resultCode);
                alert(data.resultMsg);
                goList();
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function  goList() {
        let f = document.metadataFrm;
        f.action = "[[@{/datasales/sub04}]]";
        f.submit();
    }
</script>
</th:block>
</body>
</html>