<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout">

<th:block layout:fragment="content">
    <div id="container">
        <div id="visual">
            <div class="txt-box">
                <strong class="tit-01">KCDH</strong>
                <strong class="tit-02">한의약 임상연구 데이터 허브</strong>

                <div class="search-box">
                    <div class="intwrap">
                        <input id="itemLabel" type="text" class="intxt" maxlength="8" placeholder="찾고싶으신 데이터를 입력하세요."/>
                    </div>
                    <div class="btnwrap">
                        <input id="metadataSearch" type="button" class="s-btn" value="검색"/>
                    </div>
                </div>
                <p>
                    보건복지부 한의약혁신기술개발사업을 통하여 수집된 임상연구 데이터의<br>
                    공익적 활용을 위한 데이터 공유 플랫폼입니다.
                </p>
            </div>
            <div class="i-scroll">
                <p>SCROLL DOWN</p>
            </div>
        </div>

        <div id="content">

            <div id="section01" class="section">
                <div class="section-area">
                    <div class="h-box">
                        <p>숫자로 보는 한의학 임상연구</p>
                        <h2 class="tit">
                            한의약 임상연구 데이터 허브
                            <span>인포그래픽</span>
                        </h2>
                    </div>
                    <div class="chart-box">
                        <ul class="chart-list">
                            <li>
                                <div class="tit-box">
                                    <strong>자료현황</strong>
                                    <a href="#" class="more-btn"></a>
                                </div>
                                <div id="chartBox" class="chart-wrap" style="height: 404px;">
<!--                                    <img src="/images/main/chart_01.jpg" alt="자료현황">-->
                                </div>
                                <div class="chart-info">
                                    <strong>전체등록 현황</strong>
                                    <p>
                                        <span class="num">2021. 1. 1</span> ~ 현재
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="tit-box">
                                    <strong>중재종류</strong>
                                </div>
                                <div id="dounutChart" class="chart-wrap" style="height: 404px;">
<!--                                    <img src="/images/main/chart_02.jpg" alt="중재종류">-->
                                </div>
                                <div class="chart-info">
                                    <strong>등록전체 인원</strong>
                                    <p>
                                        <span class="num">10,451</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="section02" class="section">
                <div class="section-area">
                    <div class="h-box">
                        <p>숫자로 보는 한의학 임상연구</p>
                        <h2 class="tit">
                            TOP5
                            <span>레지스트리 현황</span>
                        </h2>
                    </div>
                    <div class="tab-box">
                        <div class="tab-wrap">
                            <ul class="tab">
                                <li class="tab-list current" data-target="tab-01">
                                    <strong class="tit">
                                        <span class="num">01</span>
                                        뇌졸증
                                    </strong>
                                    <p>4,323</p>
                                </li>
                                <li class="tab-list" data-target="tab-02">
                                    <strong class="tit">
                                        <span class="num">02</span>
                                        정신질환
                                    </strong>
                                    <p>3,333</p>
                                </li>
                                <li class="tab-list" data-target="tab-03">
                                    <strong class="tit">
                                        <span class="num">03</span>
                                        퇴행성 관절질환
                                    </strong>
                                    <p>3,333</p>
                                </li>
                                <li class="tab-list" data-target="tab-04">
                                    <strong class="tit">
                                        <span class="num">04</span>
                                        대사질환
                                    </strong>
                                    <p>1,323</p>
                                </li>
                                <li class="tab-list" data-target="tab-05">
                                    <strong class="tit">
                                        <span class="num">05</span>
                                        비만
                                    </strong>
                                    <p>923</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-con-box">
                            <div id="tab-01" class="tab-con current">
                                <div class="chart-box">
                                    <ul>
                                        <li>
                                            <div class="tit-box">
                                                <strong>중재종류</strong>
                                            </div>
                                            <div id="dounutChart2" class="chart-wrap" style="height: 104px;">
                                                <img src="/images/main/chart_03.png" alt="중재종류">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tit-box">
                                                <strong>보고서 현황</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_04.png" alt="보고서 현황">
                                                <a href="#" class="go-btn">레지스트리 바로가기</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="tab-02" class="tab-con">
                                <div class="chart-box">
                                    <ul>
                                        <li>
                                            <div class="tit-box">
                                                <strong>중재종류2</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_03.png" alt="중재종류">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tit-box">
                                                <strong>보고서 현황2</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_04.png" alt="보고서 현황">
                                                <a href="#" class="go-btn">레지스트리 바로가기</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="tab-03" class="tab-con">
                                <div class="chart-box">
                                    <ul>
                                        <li>
                                            <div class="tit-box">
                                                <strong>중재종류3</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_03.png" alt="중재종류">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tit-box">
                                                <strong>보고서 현황3</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_04.png" alt="보고서 현황">
                                                <a href="#" class="go-btn">레지스트리 바로가기</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="tab-04" class="tab-con">
                                <div class="chart-box">
                                    <ul>
                                        <li>
                                            <div class="tit-box">
                                                <strong>중재종류4</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_03.png" alt="중재종류">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tit-box">
                                                <strong>보고서 현황4</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_04.png" alt="보고서 현황">
                                                <a href="#" class="go-btn">레지스트리 바로가기</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="tab-05" class="tab-con">
                                <div class="chart-box">
                                    <ul>
                                        <li>
                                            <div class="tit-box">
                                                <strong>중재종류5</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_03.png" alt="중재종류">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tit-box">
                                                <strong>보고서 현황5</strong>
                                            </div>
                                            <div class="chart-wrap">
                                                <img src="/images/main/chart_04.png" alt="보고서 현황">
                                                <a href="#" class="go-btn">레지스트리 바로가기</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section03" class="section">
                <ul class="menu-banner">
                    <li>
                        <a th:href="@{/users/registmember}">
                            <div class="menu-bg"></div>
                            <div class="img-box">
                                <img src="/images/main/i_01.png" alt="회원가입">
                            </div>
                            <div class="txt-box">
                                <strong class="tit">회원가입</strong>
                                <p>회원가입을 통한 데이터 습득</p>
                            </div>
                            <span class="ic-arr"></span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/metadata/sub03}">
                            <div class="menu-bg"></div>
                            <div class="img-box">
                                <img src="/images/main/i_02.png" alt="데이터 검색">
                            </div>
                            <div class="txt-box">
                                <strong class="tit">데이터 목록</strong>
                                <p>레지스트리별 목록</p>
                            </div>
                            <span class="ic-arr"></span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/datasales/sub02}">
                            <div class="menu-bg"></div>
                            <div class="img-box">
                                <img src="/images/main/i_03.png" alt="데이터 신청">
                            </div>
                            <div class="txt-box">
                                <strong class="tit">데이터 신청</strong>
                                <p>공공활용을 위한 데이터 신청</p>
                            </div>
                            <span class="ic-arr"></span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/noticeSpace/sub05}">
                            <div class="menu-bg"></div>
                            <div class="img-box">
                                <img src="/images/main/i_04.png" alt="FAQ">
                            </div>
                            <div class="txt-box">
                                <strong class="tit">FAQ</strong>
                                <p>무엇이든 물어보세요</p>
                            </div>
                            <span class="ic-arr"></span>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="#">
                            <div class="menu-bg"></div>
                            <div class="img-box">
                                <img src="/images/main/i_05.png" alt="동영상 메뉴얼">
                            </div>
                            <div class="txt-box">
                                <strong class="tit">동영상 메뉴얼</strong>
                                <p>동영상 메뉴얼을 통한 가이드 습득</p>
                            </div>
                            <span class="ic-arr"></span>
                        </a>
                    </li>
                    -->
                </ul>
            </div>
            <div id="section04" class="section">
                <div class="section-area">
                    <div class="board-list-wrap">
                        <ul class="board-list">
                            <li>
                                <div class="board-box">
                                    <div class="tit-box">
                                        <strong class="tit">
                                            <span>공지</span>
                                            사항
                                        </strong>
                                        <a th:href="@{/noticeSpace/sub02}" class="more-btn"></a>
                                    </div>
                                    <div class="board-wrap">
                                        <a href="#" class="top-write">
                                            <div class="img-box">
                                                <img src="/images/main/01.jpg" alt="">
                                            </div>
                                            <div class="con-box">
                                                <strong class="tit">제1회 KCIC 심포지엄 개최 및 사전등록 안내</strong>
                                                <p>
                                                    2021 식품의약품안전처의 식품의약품 산업동향에 따르면, 국내 제약 시장 규모(생산액-수출)...
                                                </p>
                                                <span class="date">2021. 04. 30</span>
                                            </div>
                                        </a>
                                        <ul class="write-list">
                                            <li>
                                                <a href="#">2021년 일반인 대상 연차보고서 배포 완료</a>
                                            </li>
                                            <li>
                                                <a href="#">연구데이터 폐기 확인서, 연구데이터 성과...</a>
                                            </li>
                                            <li>
                                                <a href="#">수집자료 서식 (SOP 2.0 기준)</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="board-box">
                                    <div class="tit-box">
                                        <strong class="tit">
                                            <span>보도</span>
                                            자료
                                        </strong>
                                        <a th:href="@{/noticeSpace/sub06}" class="more-btn"></a>
                                    </div>
                                    <div class="board-wrap">
                                        <a href="#" class="top-write">
                                            <div class="img-box">
                                                <img src="/images/main/02.jpg" alt="">
                                            </div>
                                            <div class="con-box">
                                                <strong class="tit">국민 위한 ‘한의약 공익적 임상연구’로 사회적...</strong>
                                                <p>
                                                    국민들이 객관적인 한의의료 정보를 제공받아 합리적인 의료 소비를 할 수 있도록 돕기 위한 ‘한의약 공익적 임상연구...
                                                </p>
                                                <span class="date">2021. 04. 30</span>
                                            </div>
                                        </a>
                                        <ul class="write-list">
                                            <li>
                                                <a href="#">한의치료 보장성 강화 위한 공익적 임상연구에...</a>
                                            </li>
                                            <li>
                                                <a href="#">공익적임상연구, 한의계 치료기술 보장성강화...</a>
                                            </li>
                                            <li>
                                                <a href="#">[민족의학신문 2020-10-30] 한의약진흥원, 한의약 ...</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="qiuck-wrap">
                        <div class="tit-box">
                            <strong class="tit">
                                <span>빠른</span>
                                안내
                            </strong>
                        </div>
                        <ul class="qiuck-menu">
                            <li>
                                <a th:href="@{/datasales/sub02}">
                                    <div class="mask-wrap">
                                        <div class="circle-01"></div>
                                        <div class="circle-02"></div>
                                        <div class="circle-03"></div>
                                    </div>
                                    <strong class="tit">분양자료 검색</strong>
                                </a>
                            </li>
                            <li>
                                <a href="http://mytrial.nckm.or.kr/service/Login">
                                    <div class="mask-wrap">
                                        <div class="circle-01"></div>
                                        <div class="circle-02"></div>
                                        <div class="circle-03"></div>
                                    </div>
                                    <strong class="tit">e-CRF (iCLICK)</strong>
                                </a>
                            </li>
                            <li>
                                <a th:href="|@{/bbsApi/fileDownload}/임상연구자료_표준화_가이드라인(Ver.2.0)_0824.hwp|">
                                    <div class="mask-wrap">
                                        <div class="circle-01"></div>
                                        <div class="circle-02"></div>
                                        <div class="circle-03"></div>
                                    </div>
                                    <strong class="tit">
                                        임상연구자료 표준화 <br>
                                        가이드라인 (ver 2.0)
                                    </strong>
                                </a>
                            </li>
                            <li>
                                <a th:href="|@{/bbsApi/fileDownload}/codebook.pdf|">
                                    <div class="mask-wrap">
                                        <div class="circle-01"></div>
                                        <div class="circle-02"></div>
                                        <div class="circle-03"></div>
                                    </div>
                                    <strong class="tit">
                                        Codebook
                                    </strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="link-site">
                <ul>
                    <li>
                        <a href="https://nikom.or.kr/nikom/index.do" target="_blank">
                            <img src="/images/main/logo_01.png" alt="한국한의햑진흥원">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.nckm.or.kr/" target="_blank">
                            <img src="/images/main/logo_02.png" alt="국가한의임상정보포털">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mohw.go.kr/react/index.jsp" target="_blank">
                            <img src="/images/main/logo_03.png" alt="보건복지부">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.nhis.or.kr/nhis/minwon/retrieveStimmyInit.do" target="_blank">
                            <img src="/images/main/logo_04.png" alt="국민건강보험">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.hira.or.kr/main.do" target="_blank">
                            <img src="/images/main/logo_05.png" alt="건강보험심사평가원">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.khidi.or.kr/kps" target="_blank">
                            <img src="/images/main/logo_06.png" alt="한국보건산업진흥원">
                        </a>
                    </li>
                    <li>
                        <a href="https://datalink.mohw.go.kr/" target="_blank">
                            <img src="/images/main/logo_07.png" alt="결합전문기관">
                        </a>
                    </li>
                </ul>
            </div>



        </div>

    </div>

    <script th:src="@{/js/code/highcharts.js}"></script>
    <script>
        $(document).ready(function () {
            chartData();
            dounutChart();
            //dounutChart2();
        });

        $(function(){
            $("#metadataSearch").click(function(){
                if ( $("#itemLabel").val() == "" ) {
                    alert("검색어를 입력해 주십시오");
                    return;
                }

                if ( $("#itemLabel").val().length < 2 ) {
                    alert("2자 이상 입력해 주십시오.");
                    return;
                }

                location.href = '[[@{/metadata/sub03}]]?searchGubun=Y&itemLabel=' + $("#itemLabel").val();
            });
        });


        function chartData() {
            const data = {
                chartYear : [
                    2001,
                    2002,
                    2003,
                    2004
                ],
                chartData : [
                    5,
                    2,
                    3,
                    7
                ]
            };
            chartCreate(data);
        }

        function chartCreate(data) {
            let myChart = Highcharts.chart('chartBox', {

                /* 바 색상 */
                colors: ['#2375C9','#51B7E8'],

                /* 차트종류 */
                chart: { type: 'column' },

                /* 제목 */
                title: { text: '' },

                /* 부제목 */
                subtitle: { text: ''},

                /* X축 / Y 축 */
                xAxis: {
                    categories: data.chartYear,
                    labels: {
                        y: 20,
                        style: {
                            color:'#444',
                            fontSize: '16px'
                        }
                    }
                },
                yAxis: {
                    title: { text: '분양 횟수' },
                    labels: {
                        enabled: false,  //label 미사용 시 false로 지정.
                    },
                    stackLabels: {//스택 바에 사용하는 label 설정.(stacked bar 필수 설정 옵션)
                        enabled: true,
                        verticalAlign:"bottom", // y축 값 위치
                        style: { //바 안의 y축 값 스타일
                            textOutline:0,// label 수치의 outline 제거 0으로 지정.
                            fontSize: '18px',
                            fontWeight: '1000',
                            color:'#ffffff'
                        }
                    }
                },

                /* 범례 */
                legend: {enabled: false},

                /* 툴팁 */
                tooltip: {valueSuffix: '개'},

                /*하이차트 레이블 삭제*/
                credits: {enabled: false},

                plotOptions: {
                    column: {// 컬럼 차트 전체 옵션 지정
                        stacking: 'normal'//stacked bar 필수 설정 옵션(default undefined)
                    }, //y축 값 => x축 쪽으로 내리기 위한 코드
                },

                /* 표 데이터 */
                series: [
                    {
                        name: '',
                        colorByPoint : true, // 여러가지 바 색상을 지정 시 true
                        data: data.chartData,
                        dataLabels: {//바 상단의 수치값 개별 지정.
                            enabled: true,
                            format: '{y}',//수치 표현 포맷
                            color: '#ffffff',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                ]
            });
        }
    </script>

    <script>
        function dounutChart() {
            //차트 색상 지정
            Highcharts.setOptions({
                colors: ['#51B7E8','#3f77cb', '#2375C9','#3202F1', '#6683CF', '#5933D9']
            });
            // Set up the chart
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'dounutChart',
                    type: 'pie', //도넛 차트도 원형이기 때문에 pie로 지정함.
                    margin: [0, 5, 5, 5],
                    spacingRight:0,//차트 우측 여백 지정(default 10)
                    style: {

                        color: '#444',
                        fontFamily: 'notoSans',
                        fontWeight: '400',
                    },
                    backgroundColor:'rgba(255, 255, 255, 0)'
                },
                credits: {enabled: false}, //highchart 워터마크 숨김처리
                title: {
                    text: '10,451',
                    x:-4,
                    y:142,
                },
                legend: {
                    align:'center',
                    verticalAlign: 'bottom',
                    width: 340,
                    x: -5,
                    y: -2,
                    itemWidth: 110,
                    itemDistance: 0,
                    symbolHeight: 10,
                    symbolWidth: 10,
                    symbolPadding: 5,
                    symbolRadius: 0,
                    itemStyle: {
                        color: '#333',
                        fontSize: '14px',
                        fontWeight:'normal'
                    }
                },
                plotOptions: {
                    pie: {//도넛(파이)차트 전체 옵션 지정.
                        dataLabels: {
                            enabled: true,
                            distance: -20,
                        },
                        showInLegend: true,//범례 show/hide 설정. (series 내에서 개별 지정도 가능.)
                        size: '60%',
                    }
                },
                series: [{
                    type: 'pie',
                    name:'',
                    innerSize: '60%',//도넛 차트 지정시 내부 구멍 너비를 설정.(도넛 차트 필수 지정 옵션)
                    data:[
                        {
                            name: 'Microarry',
                            y: 60,

                        },
                        {
                            name: 'Clinical Study',
                            y: 10,

                        },
                        {
                            name: 'NGS',
                            y: 10,

                        },
                        {
                            name: 'Contents-1',
                            y: 8,

                        },
                        {
                            name: 'Contents-2',
                            y: 7,

                        },
                        {
                            name: 'Contents-3',
                            y: 6,

                        }
                    ],
                    dataLabels: {
                        enabled: false,
                    }
                }]
            });
        }
    </script>
    <script>
        function dounutChart2() {
            //차트 색상 지정
            Highcharts.setOptions({
                colors: ['#51B7E8','#3f77cb', '#2375C9','#3202F1', '#6683CF', '#5933D9']
            });
            // Set up the chart
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'dounutChart2',
                    type: 'pie', //도넛 차트도 원형이기 때문에 pie로 지정함.
                    margin: [0, 5, 5, 5],
                    spacingRight:0,//차트 우측 여백 지정(default 10)
                    style: {

                        color: '#444',
                        fontFamily: 'notoSans',
                        fontWeight: '400',
                    },
                    backgroundColor:'rgba(255, 255, 255, 0)'
                },
                credits: {enabled: false}, //highchart 워터마크 숨김처리
                title: {
                    text: '10,451',
                    x:-4,
                    y:142,
                },
                legend: {
                    align:'center',
                    verticalAlign: 'bottom',
                    width: 340,
                    x: -5,
                    y: -2,
                    itemWidth: 110,
                    itemDistance: 0,
                    symbolHeight: 10,
                    symbolWidth: 10,
                    symbolPadding: 5,
                    symbolRadius: 0,
                    itemStyle: {
                        color: '#333',
                        fontSize: '14px',
                        fontWeight:'normal'
                    }
                },
                plotOptions: {
                    pie: {//도넛(파이)차트 전체 옵션 지정.
                        dataLabels: {
                            enabled: true,
                            distance: -20,
                        },
                        showInLegend: true,//범례 show/hide 설정. (series 내에서 개별 지정도 가능.)
                        size: '60%',
                    }
                },
                series: [{
                    type: 'pie',
                    name:'',
                    innerSize: '60%',//도넛 차트 지정시 내부 구멍 너비를 설정.(도넛 차트 필수 지정 옵션)
                    data:[
                        {
                            name: 'Microarry',
                            y: 60,

                        },
                        {
                            name: 'Clinical Study',
                            y: 10,

                        },
                        {
                            name: 'NGS',
                            y: 10,

                        },
                        {
                            name: 'Contents-1',
                            y: 8,

                        },
                        {
                            name: 'Contents-2',
                            y: 7,

                        },
                        {
                            name: 'Contents-3',
                            y: 6,

                        }
                    ],
                    dataLabels: {
                        enabled: false,
                    }
                }]
            });
        }
    </script>
</th:block>

</body>
</html>