<div class="skip">
    <dl>
        <dt class="skipH">바로가기 메뉴</dt>
        <dd>
            <a class="skipNavi" href="#logo">메뉴 바로가기</a>
        </dd>
        <dd>
            <a class="skipNavi" href="#content">본문 바로가기</a>
        </dd>
        <dd>
            <a class="skipNavi" href="#footer">하단 바로가기</a>
        </dd>
    </dl>
</div>
<!-- //skip -->


<header id="header" class="">
    <div class="header-wrap">
        <h1 id="logo">
            <a href="/">
                <img src="/images/common/logo.png" alt="KCIC" class="pc">
                <img src="/images/common/s_logo.png" alt="KCIC" class="s-pc">
                <img src="/images/common/mo_logo.png" alt="KCIC" class="mo">
            </a>
        </h1>
        <nav id="gnb">
            <ul class="menu">
                <li>
                    <a href="#">About KCIC</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">인사말</a>
                        </li>
                        <li>
                            <a href="#">KCIC 소개</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">레지스트리</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">한의 질환별 레지스트리 소개</a>
                        </li>
                        <li>
                            <a href="#">한의 뇌졸중 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 암 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 정신건강질환 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 비만 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 퇴행성 관절질환 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 대사질환 레지스트리</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">메타데이터</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">메타데이터 소개</a>
                        </li>
                        <li>
                            <a href="#">메타데이터 항목 검색</a>
                        </li>
                        <li>
                            <a href="#">데이터셋별 메타디에터 목록</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">데이터 분양</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">분양 절차 안내 및 신청</a>
                        </li>
                        <li>
                            <a href="#">분양 자료 항목 및 검색</a>
                        </li>
                        <li>
                            <a href="#">분양 현황</a>
                        </li>
                        <li>
                            <a href="#">연구 성과</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">이용안내</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">홈페이지 이용 안내</a>
                        </li>
                        <li>
                            <a href="#">레지스트리 연구자 이용안내</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">회원공간</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">DM & Monitoring</a>
                        </li>
                        <li>
                            <a href="#">공지사항</a>
                        </li>
                        <li>
                            <a href="#">자료실</a>
                        </li>
                        <li>
                            <a href="#">일정 관리</a>
                        </li>
                        <li>
                            <a href="#">Q/A</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <ul class="r-menu">
            <li class="login">
                <a href="#">로그인</a>
            </li>
            <li class="sitemap-btn">
                <a href="#">사이트맵</a>
            </li>
        </ul>

    </div>
    <div class="sitemap">
        <div class="sitemap-tit-box">
            <strong>사이트맵</strong>
        </div>
        <div class="menu-box">
            <div class="h-box">
                <div class="img-box">
                    <img src="/images/common/s_logo.png" alt="KCIC">
                </div>
                <a href="#" class="sitemap-close"></a>
            </div>

            <ul class="menu">
                <li>
                    <strong>About KCIC</strong>
                    <ul class="menu-02">
                        <li>
                            <a href="#">인사말</a>
                        </li>
                        <li>
                            <a href="#">KCIC 소개</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>레지스트리</strong>
                    <ul class="menu-02">
                        <li>
                            <a href="#">한의 질환별 레지스트리 소개</a>
                        </li>
                        <li>
                            <a href="#">한의 뇌졸중 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 암 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 정신건강질환 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 비만 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 퇴행성 관절질환 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 대사질환 레지스트리</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>메타데이터</strong>
                    <ul class="menu-02">
                        <li>
                            <a href="#">메타데이터 소개</a>
                        </li>
                        <li>
                            <a href="#">메타데이터 항목 검색</a>
                        </li>
                        <li>
                            <a href="#">데이터셋별 메타디에터 목록</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>데이터 분양</strong>
                    <ul class="menu-02">
                        <li>
                            <a href="#">분양 절차 안내 및 신청</a>
                        </li>
                        <li>
                            <a href="#">분양 자료 항목 및 검색</a>
                        </li>
                        <li>
                            <a href="#">분양 현황</a>
                        </li>
                        <li>
                            <a href="#">연구 성과</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>이용안내</strong>
                    <ul class="menu-02">
                        <li>
                            <a href="#">홈페이지 이용 안내</a>
                        </li>
                        <li>
                            <a href="#">레지스트리 연구자 이용안내</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>회원공간</strong>
                    <ul class="menu-02">
                        <li>
                            <a href="#">DM & Monitoring</a>
                        </li>
                        <li>
                            <a href="#">공지사항</a>
                        </li>
                        <li>
                            <a href="#">자료실</a>
                        </li>
                        <li>
                            <a href="#">일정 관리</a>
                        </li>
                        <li>
                            <a href="#">Q/A</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="mo-menu-wrap">
        <div class="h-box">
            <div class="img-box">
                <img src="/images/common/mo_s_logo.png" alt="KCIC">
            </div>
            <a href="#" class="mo-menu-close"></a>
        </div>
        <div class="mo-menu">
            <ul class="menu">
                <li>
                    <a href="#" class="">About KCIC</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">인사말</a>
                        </li>
                        <li>
                            <a href="#">KCIC 소개</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">레지스트리</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">한의 질환별 레지스트리 소개</a>
                        </li>
                        <li>
                            <a href="#">한의 뇌졸중 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 암 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 정신건강질환 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 비만 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 퇴행성 관절질환 레지스트리</a>
                        </li>
                        <li>
                            <a href="#">한의 대사질환 레지스트리</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">메타데이터</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">메타데이터 소개</a>
                        </li>
                        <li>
                            <a href="#">메타데이터 항목 검색</a>
                        </li>
                        <li>
                            <a href="#">데이터셋별 메타디에터 목록</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">데이터 분양</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">분양 절차 안내 및 신청</a>
                        </li>
                        <li>
                            <a href="#">분양 자료 항목 및 검색</a>
                        </li>
                        <li>
                            <a href="#">분양 현황</a>
                        </li>
                        <li>
                            <a href="#">연구 성과</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">이용안내</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">홈페이지 이용 안내</a>
                        </li>
                        <li>
                            <a href="#">레지스트리 연구자 이용안내</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">회원공간</a>
                    <ul class="menu-02">
                        <li>
                            <a href="#">DM & Monitoring</a>
                        </li>
                        <li>
                            <a href="#">공지사항</a>
                        </li>
                        <li>
                            <a href="#">자료실</a>
                        </li>
                        <li>
                            <a href="#">일정 관리</a>
                        </li>
                        <li>
                            <a href="#">Q/A</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="back-bg"></div>
</header>