<div class="skip">
    <dl>
        <dt class="skipH">바로가기 메뉴</dt>
        <dd>
            <a class="skipNavi" href="#logo">메뉴 바로가기</a>
        </dd>
        <dd>
            <a class="skipNavi" href="#content">본문 바로가기</a>
        </dd>
        <dd>
            <a class="skipNavi" href="#footer">하단 바로가기</a>
        </dd>
    </dl>
</div>
<!-- //skip -->


<header id="header" class="">
    <div class="header-wrap">
        <h1 id="logo">
            <a href="/">
                <img src="/images/common/logo.png" alt="KCIC" class="pc">
                <img src="/images/common/s_logo.png" alt="KCIC" class="s-pc">
                <img src="/images/common/mo_logo.png" alt="KCIC" class="mo">
            </a>
        </h1>
        <nav id="gnb">
            <ul class="menu">
                <li>
                    <a th:href="@{/about/sub01}">About KCIC</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/about/sub01}">인사말</a>
                        </li>
                        <li>
                            <a th:href="@{/about/sub02}">KCIC 소개</a>
                        </li>
                        <li>
                            <a th:href="@{/about/sub03}">Contact Us</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/registry/sub01}">레지스트리</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/registry/sub01}">한의암 레지스트리 연구</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub02}">한의정신건강질환 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub03}">한의비만 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub04}">퇴행성 관절질환 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub05}">의-한 정밀의료 중재 대사질환  레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub06}">뇌졸중  레지스트리</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/metadata/sub01}">메타데이터</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/metadata/sub01}">메타데이터 소개</a>
                        </li>
                        <li>
                            <a th:href="@{/metadata/sub02}">메타데이터 항목 검색</a>
                        </li>
                        <li>
                            <a th:href="@{/metadata/sub03}">데이터셋별 메타디에터 목록</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/datasales/sub01}">데이터 분양</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/datasales/sub01}">분양 절차 안내 및 신청</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub02}">분양 자료 항목 및 검색</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub03}">분양 현황</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub04}">연구 성과</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/infomation/sub01}">이용안내</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/infomation/sub01}">홈페이지 이용 안내</a>
                        </li>
                        <li>
                            <a th:href="@{/infomation/sub02}">레지스트리 연구자 이용안내</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/memberSpace/sub01}">회원공간</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/memberSpace/sub01}">DM & Monitoring</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub02}">공지사항</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub03}">자료실</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub04}">일정 관리</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub05}">Q/A</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <ul class="r-menu">
            <li class="login">
                <a href="#">로그인</a>
            </li>
            <li class="sitemap-btn">
                <a href="#">사이트맵</a>
            </li>
        </ul>

    </div>
    <div class="sitemap">
        <div class="sitemap-tit-box">
            <strong>사이트맵</strong>
        </div>
        <div class="menu-box">
            <div class="h-box">
                <div class="img-box">
                    <img src="/images/common/s_logo.png" alt="KCIC">
                </div>
                <a href="#" class="sitemap-close"></a>
            </div>

            <ul class="menu">
                <li>
                    <strong>About KCIC</strong>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/about/sub01}">인사말</a>
                        </li>
                        <li>
                            <a th:href="@{/about/sub02}">KCIC 소개</a>
                        </li>
                        <li>
                            <a th:href="@{/about/sub03}">Contact Us</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>레지스트리</strong>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/registry/sub01}">한의암 레지스트리 연구</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub02}">한의정신건강질환 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub03}">한의비만 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub04}">퇴행성 관절질환 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub05}">의-한 정밀의료 중재 대사질환  레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub06}">뇌졸중  레지스트리</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>메타데이터</strong>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/metadata/sub01}">메타데이터 소개</a>
                        </li>
                        <li>
                            <a th:href="@{/metadata/sub02}">메타데이터 항목 검색</a>
                        </li>
                        <li>
                            <a th:href="@{/metadata/sub03}">데이터셋별 메타디에터 목록</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>데이터 분양</strong>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/datasales/sub01}">분양 절차 안내 및 신청</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub02}">분양 자료 항목 및 검색</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub03}">분양 현황</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub04}">연구 성과</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>이용안내</strong>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/infomation/sub01}">홈페이지 이용 안내</a>
                        </li>
                        <li>
                            <a th:href="@{/infomation/sub02}">레지스트리 연구자 이용안내</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>회원공간</strong>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/memberSpace/sub01}">DM & Monitoring</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub02}">공지사항</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub03}">자료실</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub04}">일정 관리</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub05}">Q/A</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="mo-menu-wrap">
        <div class="h-box">
            <div class="img-box">
                <img src="/images/common/mo_s_logo.png" alt="KCIC">
            </div>
            <a href="#" class="mo-menu-close"></a>
        </div>
        <div class="mo-menu">
            <ul class="menu">
                <li>
                    <a th:href="@{/about/sub01}">About KCIC</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/about/sub01}">인사말</a>
                        </li>
                        <li>
                            <a th:href="@{/about/sub02}">KCIC 소개</a>
                        </li>
                        <li>
                            <a th:href="@{/about/sub03}">Contact Us</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/registry/sub01}">레지스트리</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/registry/sub01}">한의암 레지스트리 연구</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub02}">한의정신건강질환 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub03}">한의비만 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub04}">퇴행성 관절질환 레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub05}">의-한 정밀의료 중재 대사질환  레지스트리</a>
                        </li>
                        <li>
                            <a th:href="@{/registry/sub06}">뇌졸중  레지스트리</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/metadata/sub01}">메타데이터</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/metadata/sub01}">메타데이터 소개</a>
                        </li>
                        <li>
                            <a th:href="@{/metadata/sub02}">메타데이터 항목 검색</a>
                        </li>
                        <li>
                            <a th:href="@{/metadata/sub03}">데이터셋별 메타디에터 목록</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/datasales/sub01}">데이터 분양</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/datasales/sub01}">분양 절차 안내 및 신청</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub02}">분양 자료 항목 및 검색</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub03}">분양 현황</a>
                        </li>
                        <li>
                            <a th:href="@{/datasales/sub04}">연구 성과</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/infomation/sub01}">이용안내</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/infomation/sub01}">홈페이지 이용 안내</a>
                        </li>
                        <li>
                            <a th:href="@{/infomation/sub02}">레지스트리 연구자 이용안내</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/memberSpace/sub01}">회원공간</a>
                    <ul class="menu-02">
                        <li>
                            <a th:href="@{/memberSpace/sub01}">DM & Monitoring</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub02}">공지사항</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub03}">자료실</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub04}">일정 관리</a>
                        </li>
                        <li>
                            <a th:href="@{/memberSpace/sub05}">Q/A</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="back-bg"></div>
</header>