<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">KCDH-한의약 임상연구 데이터 허브</title>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="layout/subHeader"></th:block>
</head>

<body>
<div id="wrap">
    <th:block th:replace="layout/commonMenu"></th:block>

    <th:block layout:fragment="content"></th:block>

    <th:block th:replace="layout/commonFooter"></th:block>
</div>
</body>
</html>