<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
<div id="container">
    <div id="spot">
        <div class="img-box sub03">
            <div class="tit-box">
                <h2>메타데이터</h2>
            </div>
        </div>
        <div id="snb">
            <ul class="nav">
                <li class="active">
                    <a th:href="@{/metadata/sub01}">메타데이터 소개</a>
                </li>
                <!--<li>
                    <a th:href="@{/metadata/sub02}">메타데이터 항목 검색</a>
                </li>-->
                <li>
                    <a th:href="@{/metadata/sub03}">데이터셋별 메타데이터 목록</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="con">
            <div class="sub-tit">
                <h3>메타데이터 소개</h3>
                <ul id="navigater">
                    <li class="home"></li>
                    <li>메타데이터</li>
                    <li class="m-now">메타데이터 소개</li>
                </ul>
            </div>
            <div class="con-area">
                <div class="sub0301">
                    <div class="img-box"></div>
                    <div class="text-wrap">
                        <strong class="s-tit">메타데이터란 ?</strong>
                        <p class="txt">
                            메타데이터(Metadata)는 일반적으로 데이터에 관한 구조화된 데이터로,<br>
                            대량의 정보 가운데에서 확인하고자 하는 정보를 효율적으로 검색하기 위해 원시데이터(Raw data)를 일정한 규칙에 따라 구조화 혹은 표준화한 정보를 의미합니다.
                        </p>
                    </div>

                    <div class="text-wrap">
                        <strong class="s-tit">KCDH 메타데이터란 ?</strong>
                        <p class="txt">
                            KCDH 메타데이터는 한의약진흥원 한의약혁신기술개발사업단 세부과제에서 iClick을 통해 수집한 한의약 임상연구 결과 데이터를 표준화 가이드라인을 토대로 가공 생성한 산출물입니다.<br>
                            모든 임상연구 결과데이터는 연구별로 데이터셋-Class-Domain-변수의 순으로 범주화 되어 있으며, 대략적인 데이터 구조는 아래의 그림과 같습니다.<br><br>

                            데이터셋별 메타데이터 검색을 통해 한의약 임상연구별 전반적인 수집항목을 확인하실 수 있으며,<br>
                            '데이터 분양' 항목의 분양 자료 목록에서 임상연구별, 도메인별 혹은 변수별 조건 검색을 통해 분양 가능한 데이터의 세부 항목을 확인하셔서 임상연구간 결합을 통한 연구 계획을 마련하실 수 있습니다.<br>
                        </p>
                    </div>

                    <div class="list-wrap">
                        <ul class="tit-list">
                            <li>
                                <div class="tit-box">Class</div>
                                <ul>
                                    <li class="li01">
                                        <div class="tit-box">Domain</div>
                                    </li>
                                    <li class="li02">
                                        <div class="tit-box">CRF</div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="list-01">
                            <li>
                                <ul class="list-02">
                                    <li>
                                        <div>
                                            <div class="txt-box">Special Purpose</div>
                                        </div>
                                        <ul class="list-03">
                                            <li>
                                                <ul class="list-04">
                                                    <li>
                                                        <div class="txt-box">DM</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Demographic</p>
                                                            <p class="txt">성별, 연령, 흡연, 음주 등</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="list-02">
                                    <li>
                                        <div>
                                            <div class="txt-box">Intervention</div>
                                        </div>
                                        <ul class="list-03">
                                            <li>
                                                <ul class="list-04">
                                                    <li>
                                                        <div class="txt-box">CM</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Concomitant Medications</p>
                                                            <p class="txt">약물, 투여량, 투여횟수 등</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="txt-box">EX</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Exposure</p>
                                                            <p class="txt">중재(약물/처치), 처치량 등</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="list-02">
                                    <li>
                                        <div>
                                            <div class="txt-box">Events</div>
                                        </div>
                                        <ul class="list-03">
                                            <li>
                                                <ul class="list-04">
                                                    <li>
                                                        <div class="txt-box">AE</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Adverse Events</p>
                                                            <p class="txt">이상반응, 중증도 등</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="txt-box">CE</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Clinical Events</p>
                                                            <p class="txt">결과변수명, 발생일 등</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="txt-box">MH </div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Medical history</p>
                                                            <p class="txt">질병력, 가족력 등</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="list-02">
                                    <li>
                                        <div>
                                            <div class="txt-box">Events</div>
                                        </div>
                                        <ul class="list-03">
                                            <li>
                                                <ul class="list-04">
                                                    <li>
                                                        <div class="txt-box">IE</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Inclusion/Exclusion Criteria</p>
                                                            <p class="txt">대상자 선정/제외 기준</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="txt-box">LB</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Laboratory Test Results</p>
                                                            <p class="txt">혈색소, 혈당 등 실험실검사</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="txt-box">PE</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Physical Examination</p>
                                                            <p class="txt">부위별 이학적검사 결과</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="txt-box">VS</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Vital Signs</p>
                                                            <p class="txt">신장, 체중 등 활력징후</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="txt-box">QS</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Questionnaires</p>
                                                            <p class="txt">설문조사</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="txt-box">EE</div>
                                                        <div class="txt-box-02">
                                                            <p class="txt-en">Economic Evaluation</p>
                                                            <p class="txt">경제성평가</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>

</body>
</html>