<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
    <div id="container">
        <div id="spot">
            <div class="img-box sub02">
                <div class="tit-box">
                    <h2>레지스트리</h2>
                </div>
            </div>
            <div id="snb">
                <ul class="nav">
                    <li>
                        <a th:href="@{/registry/sub01}">한의암 레지스트리 연구</a>
                    </li>
                    <li>
                        <a th:href="@{/registry/sub02}">한의정신건강질환 레지스트리</a>
                    </li>
                    <li>
                        <a th:href="@{/registry/sub03}">체중 감량을 위한 한약 레지스트리</a>
                    </li>
                    <li>
                        <a th:href="@{/registry/sub04}">퇴행성 관절질환 레지스트리</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/registry/sub05}">한의 비만 레지스트리</a>
                    </li>
                    <li>
                        <a th:href="@{/registry/sub06}">뇌졸중  레지스트리</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="con">
                <div class="sub-tit">
                    <h3>한의 비만 레지스트리</h3>
                    <ul id="navigater">
                        <li class="home"></li>
                        <li>레지스트리</li>
                        <li class="m-now">한의 비만 레지스트리</li>
                    </ul>
                </div>


                <div class="con-area">
                    <div class="sub02">
                        <div class="text-wrap">
                            <strong class="s-tit">한의 비만 레지스트리 연구 소개</strong>
                            <p class="txt">
                                한의 비만 레지스트리는 체중 감량을 목적으로 한의 의료기관에 내원하는
                                성인남녀의 임상 데이터를 장기간 수집하여 한의 비만 치료의 현황 및 특성을 관찰하고자 합니다.
                                한의 비만 치료의 효과 및 안전성을 검증하여 한국 성인남녀의 체중 관리에 한의 비만 치료가 기여하는
                                역할 및 앞으로의 활용 방안을 밝힐 것입니다.
                            </p>
                        </div>
                        <div class="text-wrap">
                            <strong class="s-tit">목표</strong>
                            <p class="b-tit">한의 비만 레지스트리는 임상 데이터 축적으로 아래 내용을 확인하고자 합니다.</p>
                            <ul class="dot-list">
                                <li class="txt">임상에서 적용되는 한의 비만 치료 형태 조사</li>
                                <li class="txt">한의 치료 유형별 체중 감량 효과 검증</li>
                                <li class="txt">변증별/체질별 한의 비만 치료 효과 검증</li>
                                <li class="txt">한의 비만 치료 안전성 검증</li>
                                <li class="txt">체중 변화에 따른 비만 연관 건강상태 변화 관찰</li>
                                <li class="txt">한의 비만 치료 후, 체중 재증가 모니터링</li>
                            </ul>
                        </div>
                        <div class="text-wrap">
                            <strong class="s-tit">연구진</strong>
                            <div class="research-people" style="background: #ffffff">
                                <div class="img-wrap">

                                </div>
                                <div class="txt-wrap">
                                    <ul class="people-info">
                                        <li>
                                            <strong>연구책임자</strong>
                                            <p class="txt">김호준 교수(동국대학교 일산한방병원), 이준환 박사 (한국한의학연구원)</p>
                                        </li>
                                        <li>
                                            <strong>참여기관</strong>
                                            <p class="txt">전국 한방병원 및 한의원 다수</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
</th:block>

</body>
</html>