<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
    <div id="container">
        <div id="spot">
            <div class="img-box sub02">
                <div class="tit-box">
                    <h2>레지스트리</h2>
                </div>
            </div>
            <div id="snb">
                <ul class="nav">
                    <li>
                        <a th:href="@{/registry/sub01}">한의암 레지스트리 연구</a>
                    </li>
                    <li>
                        <a th:href="@{/registry/sub02}">한의정신건강질환 레지스트리</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/registry/sub03}">체중 감량을 위한 한약 레지스트리</a>
                    </li>
                    <li>
                        <a th:href="@{/registry/sub04}">퇴행성 관절질환 레지스트리</a>
                    </li>
                    <li>
                        <a th:href="@{/registry/sub05}">한의 비만 레지스트리</a>
                    </li>
                    <li>
                        <a th:href="@{/registry/sub06}">뇌졸중  레지스트리</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="con">
                <div class="sub-tit">
                    <h3>체중 감량을 위한 한약 레지스트리</h3>
                    <ul id="navigater">
                        <li class="home"></li>
                        <li>레지스트리</li>
                        <li class="m-now">체중 감량을 위한 한약 레지스트리</li>
                    </ul>
                </div>

                <div class="con-area">
                    <div class="sub02">
                        <div class="text-wrap">
                            <strong class="s-tit">체중감량을 위한 한약 레지스트리 연구 소개</strong>
                            <p class="txt">
                                우리나라에서 한의의료기관에서 질병의 치료 및 체중감량 목적으로 다양한 한약재가 빈번하게 처방되고 있는 만큼,
                                이에 대한 정확한 현황 및 자료 수집이 반드시 필요합니다.
                                본 레지스트리는 한의원 단위 진료실 환경에서의 체중 감량을 위한 한약 사용 현황 정보 수집에 대한 것으로,
                                한약 처방 내역, 한약 사용에 따른 체중 감량 및 안전성에 대한 정보를 구축하고자 합니다.
                            </p>
                        </div>
                        <div class="text-wrap">
                            <strong class="s-tit">목표</strong>
                            <p class="b-tit">한의의료기관 내원 체중감량 목적 한약 복용 환자에 대한 진료 정보를 수집하여 다기관 레지스트리를 구축하고,
                                수집된 데이터의 경향을 분석하여 실제 임상 현황을 파악하여 해당 진료영역의 신규 연구 주제를 발굴하는 근거 자료를 마련하고자 합니다</p>
                            <ul class="dot-list">
                                <li class="txt">한의원 및 한방병원에서의 한약 처방 내역 자료 구축</li>
                                <li class="txt">한약 처방 전후 체중, 체질량지수, 체온 및 맥박 변화 등 기초 자료 구축</li>
                                <li class="txt">한약 처방 전후 간기능, 신장기능 수치 변화 등 안전성 관련 자료 구축</li>
                            </ul>
                        </div>
                        <div class="text-wrap">
                            <strong class="s-tit">연구진</strong>
                            <div class="research-people" style="background: #ffffff">
                                <div class="img-wrap">
                                    <img src="/images/sub/02/sub_02_03_01.png" alt="김성하 선임 연구원(한국한의학연구원)">
                                </div>
                                <div class="txt-wrap">
                                    <ul class="people-info">
                                        <li>
                                            <strong>연구책임자</strong>
                                            <p class="txt">김성하 선임 연구원(한국한의학연구원)</p>
                                        </li>
                                        <li>
                                            <strong>참여기관</strong>
                                            <p class="txt">나비솔한방병원, 고은한의원, 바른몸S한의원, 사상의학이승진한의원, 생생한의원, 아이맘한의원, 화평한의원</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</th:block>

</body>
</html>