<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
    <div id="container">
        <div id="spot">
            <div class="img-box sub02">
                <div class="tit-box">
                    <h2>회원공간</h2>
                </div>
            </div>
            <div id="snb">
                <ul class="nav">
                    <li>
                        <a th:href="@{/memberSpace/sub01}">DM&Monitoring</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub02}">공지사항</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/memberSpace/sub03}">자료실</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub04}">일정관리</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub05}">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="con">
                <div class="sub-tit">
                    <h3>자료실</h3>
                    <ul id="navigater">
                        <li class="home"></li>
                        <li>회원공간</li>
                        <li class="m-now">자료실</li>
                    </ul>
                </div>
                <form id="metadataFrm" name="metadataFrm" method="post">
                    <input type="hidden" id="gubun" name="gubun" value="002" />
                    <input type="hidden" id="pageNum" name="pageNum" value="1" />
                    <input type="hidden" id="pageSize" name="pageSize" value="10" />
                    <input type="hidden" id="selItemList" name="selItemList" value="" />
                    <input type="hidden" id="sSubject" name="sSubject" />
                    <input type="hidden" id="sRegDt" name="sRegDt" />
                    <input type="hidden" id="eRegDt" name="eRegDt" />
                    <input type="hidden" id="bId" name="bId"/>
                </form>
                <div class="con-area">
                    <div class="form-search">
                        <ul class="search-list-01">
                            <li>
                                <div class="input-box">
                                    <div class="tit-wrap">
                                        <strong>제목</strong>
                                    </div>
                                    <div class="int-wrap">
                                        <input id="s_subject" type="text" class="intxt">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="input-box">
                                    <div class="tit-wrap">
                                        <strong>등록일자</strong>
                                    </div>
                                    <div class="int-wrap">
                                        <ul class="date-list">
                                            <li>
                                                <div class="date-box">
                                                    <input type="text" class="intxt" id="startDate" readonly>
                                                    <script>
                                                        $(function () {
                                                            $("#startDate").datepicker();
                                                        });
                                                    </script>
                                                </div>
                                            </li>
                                            <li class="txt">
                                                ~
                                            </li>
                                            <li>
                                                <div class="date-box">
                                                    <input type="text" class="intxt" id="endDate" readonly>
                                                    <script>
                                                        $(function () {
                                                            $("#endDate").datepicker();
                                                        });
                                                    </script>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="from-btn">
                            <input type="button" value="신규등록" class="rfc-btn" style="cursor: pointer;" onclick="goBbsNewData('');">
                            <input type="button" value="조회" class="rfc-btn" style="cursor: pointer;" onclick="goSearch();">
                        </div>
                    </div>

                    <p class="all-material">총 <span id="totalCount">16건</span>의 자료가 있습니다.</p>
                    <div class="table-wrap">
                        <table class="table-01" id="dataGride" name="dataGride">
                            <colgroup>
                                <col width="5%">
                                <col width="55%">
                                <col width="10%">
                                <col width="20%">
                                <col width="10%">
                            </colgroup>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                    <div id="paging" class="paging" />

                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/bethesda/board.js}" type="text/javascript"></script>
    <script lang="javascript">
        $(document).ready(function () {
            goDataList(1);
        });

        function goDataList(currentPage) {
            $("#pageNum").val(currentPage);
            let strHtml = "";
            let param = $("form[name=metadataFrm]").serialize();
            $.ajax({
                url: '[[@{/bbsApi/bbsDataList}]]',
                type: 'post',
                data: param,
                success: function (data) {
                    $("#dataGride tbody").empty();
                    $("#totalCount").empty();
                    //console.log(data.totalCnt);
                    console.log(data.dataList);
                    strHtml = '<tr><th>선택</th><th>제목</th><th>파일</th><th>등록일</th><th>작성자</th></tr>';
                    if (data.dataList.length > 0 ) {
                        $.each(data.dataList, function (key) {
                            strHtml += '<tr>';
                            strHtml += '<td><div class="check-box">'
                                + '<input type="checkbox" name="s_bId" id="s_bId[' + data.dataList[key].bid + ']" value="'
                                + data.dataList[key].bid
                                + '">'
                                + '<label for="s_bId[' + data.dataList[key].bid + ']"><span></span></label></div></td>';
                            if ( data.dataList[key].notiYn == "Y") {
                                strHtml += '<td><a href="javascript:goBbsDataview(\'' + data.dataList[key].bid  + '\');"><span>[공지]</span>' + data.dataList[key].subject + '</a></td>';
                            }
                            else {
                                strHtml += '<td><a href="javascript:goBbsDataview(\'' + data.dataList[key].bid  + '\');">' + data.dataList[key].subject + '</a></td>';
                            }
                            //console.log(data.dataList[key].fileList.length);
                            if ( data.dataList[key].fileList.length > 0 ) {
                                strHtml += '<td><img src="/images/sub/06/i_file.png" alt="첨부파일"></td>';
                            }
                            else {
                                strHtml += '<td></td>';
                            }
                            strHtml += '<td>' + data.dataList[key].regDt + '</td>';
                            strHtml += '<td>' + data.dataList[key].regNm + '</td>';
                            strHtml += '</tr>';
                        });
                    }
                    else {
                        strHtml += '<tr><td colspan="9">검색된 데이터가 없습니다.</td></tr>';
                    }
                    $("#dataGride tbody").html(strHtml);
                    $("#totalCount").html(data.totalCnt);

                    paging(data.totalCnt, $("#pageNum").val(), $("#pageSize").val(), 5, 'paging', 'active', 'goDataList');
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        function goSearch() {
            $("#sSubject").val($("#s_subject").val());
            $("#sRegDt").val($("#startDate").val());
            $("#eRegDt").val($("#endDate").val());

            if ($("#sRegDt").val() != "" || $("#eRegDt").val() != "" ) {
                if ($("#sRegDt").val() == "" ) $("#sRegDt").val("00000000");
                if ($("#eRegDt").val() == "" ) $("#eRegDt").val("99991231");
            }
            goDataList(1);
        }

        function goBbsDataview(code) {
            $("#bId").val(code);

            let f = document.metadataFrm;
            f.action = "[[@{/memberSpace/sub03View}]]";
            f.submit();
        }

        function goBbsNewData(code) {
            $("#bId").val(code);

            let f = document.metadataFrm;
            f.action = "[[@{/memberSpace/sub03Edit}]]";
            f.submit();
        }
    </script>
</th:block>
</body>
</html>