<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
    <script th:src="@{/js/custom.js}" type="text/javascript"></script>
    <div id="container">
        <div id="spot">
            <div class="img-box sub02">
                <div class="tit-box">
                    <h2>회원공간</h2>
                </div>
            </div>
            <div id="snb">
                <ul class="nav">
                    <li>
                        <a th:href="@{/memberSpace/sub01}">DM&Monitoring</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub02}">공지사항</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub03}">자료실</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub04}">일정관리</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/memberSpace/sub05}">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="con">
                <div class="sub-tit">
                    <h3>FAQ</h3>
                    <ul id="navigater">
                        <li class="home"></li>
                        <li>회원공간</li>
                        <li class="m-now">FAQ</li>
                    </ul>
                </div>
                <div class="con-area">
                    <ul class="qa-list">
                        <li>
                            <div class="qa-tit">
                                <span>Q</span>
                                <strong>한의약 임상연구 레지스트리 자료를 분양 받기 위한 조건이 있나요?</strong>
                            </div>
                            <div class="qa-txt">
                                <span>A</span>
                                <p class="txt">
                                    회원가입을 위한 신청서를 작성하여 제출하면 심의를 거쳐 승인됩니다. 회원가입이 완료되면 절차에 따라 자료분양을 신청할 수 있습니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="qa-tit">
                                <span>Q</span>
                                <strong>한의약 임상연구 레지스트리 자료를 분양 받기 위해서는 어떤 서류를 준비하면 되나요?</strong>
                            </div>
                            <div class="qa-txt">
                                <span>A</span>
                                <p class="txt">
                                    분양 신청을 위해서는 분양 받고자 하는 자료와 연구목적이 구체적으로 명시되어 있는 연구계획서(자유형식)와 해당 과제의 IRB 승인서 또는 면제서가 필요합니다. 담당부서의 자료 분양 심의 이후(‘승인’), 자료 이용 서약서와 개인정보 수집 및 이용 동의서를 추가 제출 하시면 됩니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="qa-tit">
                                <span>Q</span>
                                <strong>한의약 임상연구 레지스트리 자료에는 어떤 항목들이 포함되어 있나요?</strong>
                            </div>
                            <div class="qa-txt">
                                <span>A</span>
                                <p class="txt">
                                    질환별 레지스트리에 따라 차이가 있기는 하지만, 공통변수로 인구학적조사, 활력징후, 병력, 이상반응, 실험실 검사,이학적검사, 중재, 병용약물이 포함되어 있고 한의변수는 한열문진, 사상체질설문, EQ-5D, EQ-5D VAS 데이터가 포함되어있습니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="qa-tit">
                                <span>Q</span>
                                <strong>분양신청에서 자료 다운로드까지 기간은 얼마나 걸리나요?</strong>
                            </div>
                            <div class="qa-txt">
                                <span>A</span>
                                <p class="txt">분양 신청에서 심의 결과를 통보받기 까지 2주 정도의 시일이 소요됩니다.</p>
                            </div>
                        </li>
                        <li>
                            <div class="qa-tit">
                                <span>Q</span>
                                <strong>레지스트리 자료는 어떤 형태로 제공되나요?</strong>
                            </div>
                            <div class="qa-txt">
                                <span>A</span>
                                <p class="txt">엑셀 파일 형태로 제공됩니다.</p>
                            </div>
                        </li>
                        <li>
                            <div class="qa-tit">
                                <span>Q</span>
                                <strong>분양 받은 자료를 다른 연구 과제에 사용해도 되나요?</strong>
                            </div>
                            <div class="qa-txt">
                                <span>A</span>
                                <p class="txt">연구계획서에 명시된 연구과제가 아니면 사용이 불가합니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>