<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
    <div id="container">
        <div id="spot">
            <div class="img-box sub02">
                <div class="tit-box">
                    <h2>회원공간</h2>
                </div>
            </div>
            <div id="snb">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/memberSpace/sub01}">DM&Monitoring</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub02}">공지사항</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub03}">자료실</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub04}">일정관리</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub05}">Q&A</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="con">
                <div class="sub-tit">
                    <h3>DM & Monitoring</h3>
                    <ul id="navigater">
                        <li class="home"></li>
                        <li>회원공간</li>
                        <li class="m-now">DM & Monitoring</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>