<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subLayout">

<th:block layout:fragment="content">
    <div id="container">
        <div id="spot">
            <div class="img-box sub02">
                <div class="tit-box">
                    <h2>회원공간</h2>
                </div>
            </div>
            <div id="snb">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/memberSpace/sub01}">나의 스터디</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub02}">공지사항</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub03}">자료실</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub04}">일정관리</a>
                    </li>
                    <li>
                        <a th:href="@{/memberSpace/sub05}">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="con">
                <div class="sub-tit">
                    <h3>나의 스터디</h3>
                    <ul id="navigater">
                        <li class="home"></li>
                        <li>회원공간</li>
                        <li class="m-now">나의 스터디</li>
                    </ul>
                </div>

                <div class="con-area">
                    <div class="table-wrap bmar_50">
                        <table class="table-01">
                            <colgroup>
                                <col width="15%">
                                <col width="50%">
                                <col width="15%">
                                <col width="10%" span="2">
                            </colgroup>
                            <tr>
                                <th>신청일</th>
                                <th>연구과제명</th>
                                <th>소속</th>
                                <th>책임연구자</th>
                                <th>상태</th>
                            </tr>
                            <tr>
                                <td>2021-04-01</td>
                                <td>한의 유형별 냉부하검사 차이비교</td>
                                <td>베데스다</td>
                                <td>문외환</td>
                                <td>신청</td>
                            </tr>
                            <tr>
                                <td>2021-04-01</td>
                                <td>PSQI 설문을 통한 사상체질별 수면상태 비교</td>
                                <td>베데스다</td>
                                <td>이경수</td>
                                <td>접수</td>
                            </tr>
                            <tr>
                                <td>2021-04-01</td>
                                <td>체형 연관 유전변이 분석</td>
                                <td>베데스다</td>
                                <td>문외환</td>
                                <td>승인</td>
                            </tr>
                            <tr>
                                <td>2021-04-01</td>
                                <td>음성을 이용한 체질판별 및 건강상태 예측</td>
                                <td>베데스다</td>
                                <td>문외환</td>
                                <td>승인</td>
                            </tr>

                        </table>

                    </div>


                    <ul class="table-02">
                        <li>
                            <div class="tit-wrap">
                                <strong>연구과제명</strong>
                            </div>
                            <div class="con-wrap">
                                <p class="txt">음성을 이용한 체질판별 및 건강상태 예측</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit-wrap">
                                <strong>소속</strong>
                            </div>
                            <div class="con-wrap">
                                <p class="txt">베데스다</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit-wrap">
                                <strong>책임연구자</strong>
                            </div>
                            <div class="con-wrap">
                                <p class="txt">문외환</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit-wrap">
                                <strong>공동저자</strong>
                            </div>
                            <div class="con-wrap">
                                <p class="txt">이경수 , 김한울</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit-wrap">
                                <strong>데이터 사용기간</strong>
                            </div>
                            <div class="con-wrap">
                                <p class="txt">2021-01-10 ~ 2021-12-03</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit-wrap">
                                <strong>요청목적</strong>
                            </div>
                            <div class="con-wrap">
                                <p class="txt">요청목적요청목적요청목적</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit-wrap">
                                <strong>요청내용</strong>
                            </div>
                            <div class="con-wrap">
                                <p class="txt">요청내용요청내용요청내용요청내용요청내용 요청내용요청내용</p>
                            </div>
                        </li>
                    </ul>

                    <div class="table-03">
                        <div class="l-box">
                            <strong>분양데이터</strong>
                        </div>
                        <div class="r-box">
                            <p class="txt">분양데이터_20210101.xlxs</p>
                            <a href="#" class="apply-btn">다운로드</a>
                        </div>
                    </div>

                    <div class="table-03">
                        <div class="l-box">
                            <strong>반려사유</strong>
                        </div>
                        <div class="r-box">
                            <p class="txt">상태가 반려인 경우에 반려사유가 나타남</p>
                        </div>
                    </div>

                    <div class="table-03">
                        <div class="l-box">
                            <strong>상태</strong>
                        </div>
                        <div class="r-box">
                            <div class="select-box">
                                <select>
                                    <option value="">접수</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>

</body>
</html>